<div class="ensembleMdpOublie">
    <div class="banderole">
    </div>
    
    
    <div class="mdpOublie">
      <form [formGroup]="mdpOublieForm " class="mdpOublieContainer" (ngSubmit)="mdpOublie()">
        <div class="titreFormulaire">
          <h2 class="mdpOublieHeader">Mot de passe oublié ?</h2>
        </div>
        <div class="partieEmail">
          <div class="infoFormulaire">
            <div>
              <h3>Email</h3>
            </div>  
            <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
                <div *ngIf="formControls['email'].errors['required']"><font color="red">L'email est requis</font></div>
                <div *ngIf="isUnknown"><font color="red">L'email n'est pas connu</font></div>
            </div>
          </div>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }">
            <input type="email" formControlName="email">
          </p>
        </div>  
        
        <div class="liensFormulaire">
          <div class="seConnecter">
            <a routerLink="/connexion">Retour</a>
          </div>
          <div class="validerMdpOublie">
            <input type="submit" value="Envoyer">
          </div>  
        </div>

      </form>
    </div>
  </div>  