<nav class="navbarHeader">
    <div class="leftHeader">
        <div class="dropdown">
            <a class="dropbtn" href="#">Mon compte</a>
            <ul class="dropdown-content">
                <li>Paramètres</li>
                <li>Mon profil</li>
                <li>Mes contacts</li>
                <li>Messagerie</li>
                <li>Deconnexion</li>
            </ul>
        </div>    
        <div>
            <a href="#">Ressources</a>
            <ul>
                <li>Accéder à la galerie de ressources</li>
                <li>Mes ressources</li>
                <li>Découvrir une ressource</li>
            </ul>
        </div>   
        <div>
            <a href="#">Contactez-nous</a>
        </div>
    </div>    

    <div class="rightHeader">
        <div>
            <a href="#">Back-Office</a>
        </div>
        <div>
            <a href="#">F.A.Q</a>
        </div>
    </div>    
</nav>
