<header class="mainHeader">
    <div class="upperHeader">
        <div (click)="this.redirectService.redirect('')" class="imgHeader">
        </div>    
    </div>
    <nav class="navbarHeader">
        <div class="leftHeader">
            <div *ngIf="!authService.estConnecte()" class="cellNav">
                <div class="cellTitleDiv" [class.active]="this.router.url === '/inscription'">
                    <a routerLink="/inscription"> Inscription</a>
                </div>
            </div>
            <div *ngIf="!authService.estConnecte()" class="cellNav">
                <div [class.active]="this.router.url === '/connexion'" class="cellTitleDiv">
                    <a routerLink="/connexion"> Connexion</a>
                </div>
            </div>
            <div *ngIf="authService.estConnecte()" class="cellNav">
                <div class="cellTitleDiv" [class.active]="this.router.url === '/parametres'">
                    <a>Mon compte</a>
                </div>    
                <ul class="dropdown-content">
                    <li [class.active]="this.router.url === '/parametres'"><a routerLink="/parametres">Paramètres</a></li>
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="#">Mes contacts</a></li>
                    <li><a href="#">Messagerie</a></li>
                    <li><a (click)="authService.deconnecter()">Deconnexion</a></li>
                </ul>
            </div>    
            <div class="cellNav">
                <div class="cellTitleDiv" [class.active]="this.router.url.includes('ressource')">
                    <a>Ressources</a>
                </div>    
                <ul class="dropdown-content">
                    <li [class.active]="this.router.url === '/ressources'"><a routerLink="ressources">Accéder à la galerie de ressources</a></li>
                    <li><a *ngIf="authService.estConnecte()" href="#">Mes ressources</a></li>
                    <li><a href="#">Découvrir une ressource</a></li>
                </ul>
            </div>   
            <div class="cellTitleDiv">
                <a href="#">Contactez-nous</a>
            </div>
        </div>    

        <div class="rightHeader">
            <div class="cellTitleDiv">
                <a href="#">Back-Office</a>
            </div>
            <div class="cellTitleDiv">
                <a href="#">F.A.Q</a>
            </div>
        </div>    
    </nav>
</header>