@import "variables/colors";

.mainHeader {


  .upperHeader {
    .imgHeader {
      width: 225px;
      height: 100px;
      background-size: contain;
      object-fit: contain;
      background-repeat: no-repeat;
      background-color: $blue;
      background-position: center;
      background-image: url("../../assets/images/logo.png");
    }
  }


  .navbarHeader {

    display: flex;
    justify-content: space-between;
    border : 1px solid grey;
    flex-wrap: wrap;


    a {
      text-decoration: none;
      color : black;
    }

    .leftHeader {
      display: flex;
      margin-left: 2rem;
      column-gap: 1rem;
    }

    .rightHeader {
      display: flex;
      margin-right: 2rem;
      column-gap: 1rem;
    }

    .cellTitleDiv {
      display: flex;
      background-color: $white;
      justify-content: center;
      align-items: center;
      height: 100%;

      a {
        text-align: center;
        padding : 10px;
      }

      &:hover {
        background-color: $darken-white;
      }
    }

    .active {
      background-color: $yellow;

      &:hover {
        background-color: $darken-yellow;
      }

    }

    .cellNav {
    
      &:hover {
        .dropdown-content {
          display: block;
        }
      }

      .dropdown-content {
        position: absolute;
        list-style-type: none;
        display: none;
        padding: 0;
        margin: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        li {
          background-color: $white;
          display: flex;

          &:hover {
            background-color: $darken-white;
          }

          a {
            padding : 10px;
          }
        }
      }
    }

  }
}  


@media screen and (max-width: 700px) {

  .mainHeader {
    .upperHeader {
      .imgHeader {
        width: 100%;
      }
    }
    .navbarHeader {
      justify-content: center;

      .leftHeader {
        margin:0;
      }

      .rightHeader {
        margin:0;
      }
    }
  }
  
}
 
