<header class="mainHeader">
    <div class="upperHeader">
        <div (click)="redirect('')" class="imgHeader">
        </div>    
    </div>
    <nav class="navbarHeader">
        <div class="leftHeader">
            <div class="cellNav">
                <div class="cellTitleDiv active">
                    <a href="#">Mon compte</a>
                </div>    
                <ul class="dropdown-content">
                    <li><a routerLink="/paramètres">Paramètres</a></li>
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="#">Mes contacts</a></li>
                    <li><a href="#">Messagerie</a></li>
                    <li><a href="#">Deconnexion</a></li>
                </ul>
            </div>    
            <div class="cellNav">
                <div class="cellTitleDiv">
                    <a href="#">Ressources</a>
                </div>    
                <ul class="dropdown-content">
                    <li><a routerLink="gallerieRessources">Accéder à la galerie de ressources</a></li>
                    <li><a href="#">Mes ressources</a></li>
                    <li><a href="#">Découvrir une ressource</a></li>
                </ul>
            </div>   
            <div class="cellTitleDiv">
                <a href="#">Contactez-nous</a>
            </div>
        </div>    

        <div class="rightHeader">
            <div class="cellTitleDiv">
                <a href="#">Back-Office</a>
            </div>
            <div class="cellTitleDiv">
                <a href="#">F.A.Q</a>
            </div>
        </div>    
    </nav>
</header>