<footer>
    <div class="leftFooter">
        <div class="logoFooter"></div>
        <div class="cellTextFooter">
            <a href="#">Mentions légales</a>
        </div>
    </div>
    <div class="centerFooter">
        <div class="cellTextFooter">
            Ressources relationnelles © 2022
        </div>
        <div class="cellTextFooter">
            Tous droits réservés
        </div>
    </div>
    <div class="rightFooter">
        <div class="cellTextFooter">
            <a href="#">F.A.Q</a>
        </div>
        <div class="cellTextFooter">
            <a href="#">Contactez-nous</a>
        </div>
    </div>
</footer>
