<div class="listLastRessources">
    <div class="ressource">
        <div class="titreRessource">
            Les bonnes opérations
        </div>
        <div (click)="this.redirectService.redirect('ressource/1')" class="imageRessource" style="background-image: url('../../../assets/images/ressources/assetsRessources/ressource-Bourgade/bourgade.jpg');">
            <div class="imageTypeDeRessource">
                <img src="../../../assets/images/ressources/logoTypeRessource/document.png">
            </div>
        </div>
        <div class="categorieRessource">
            #Communes
        </div>
    </div>
    <div class="ressource">  
        <div class="titreRessource">
            Diablo III
        </div>  
        <div (click)="this.redirectService.redirect('ressource/2')" class="imageRessource" style="background-image: url('../../../assets/images/ressources/assetsRessources/ressource-Diablo3/Diablo3.jpg');">
            <div class="imageTypeDeRessource">
                <img src="../../../assets/images/ressources/logoTypeRessource/manette.png">
            </div>
        </div>
        <div class="categorieRessource">
            #G@mer
        </div>
    </div>
    <div class="ressource"> 
        <div class="titreRessource">
            Diablo II
        </div>   
        <div (click)="this.redirectService.redirect('ressource/3')" class="imageRessource noImage" style="background-image: url('../../../assets/images/ressources/logoTypeRessource/manette.png');">
            
        </div>
        <div class="categorieRessource">
            #G@mer
        </div>
    </div>    

</div>