/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "MontSerrat-Medium";
    src : url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

a {
    color: black;
}

body {
    font-size: 16px;
    font-family: "MontSerrat-Medium";
    color : black;
    margin : 0;
}