$brighten-yellow: #fac77b;
$yellow: #FDBC5A;
$darken-yellow: #FCA624; 
$blue: #03989E;
$green: #80AA7B;
$darken-green : #648860;
$white: #FFFFFF;
$darken-white: #D8D8D8;
$black: #000000;
$grey: #B7B7B7;
$red : #E85252;
$darken-red : #b14141;