<div class="ensembleConnexion">
  <div class="banderole">
  </div>
  
  
  <div class="login">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">
      <div class="titreFormulaire">
        <h2 class="login-header">Connexion</h2>
      </div>
      <div *ngIf="isSubmitted && !isVerified" class="help-block">
        <div><font color="red">Email ou mot de passe invalide</font></div>
      </div>
      
      <div class="partieEmail">
        <div class="infoFormulaire">
          <div>
            <h3>Email</h3>
          </div>  
          <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
            <div *ngIf="formControls['email'].errors['required']"><font color="red">L'email est requis</font></div>
          </div>
        </div>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }">
          <input type="email" formControlName="email">
        </p>
      </div>  
  
      <div class="partieMdp">
        <div class="infoFormulaire">
          <div>
            <h3>Mot de passe</h3>
          </div>  
          <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
            <div *ngIf="formControls['password'].errors['required']"><font color="red">Mot de passe requis</font></div>
          </div>
        </div>   
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
          <input type="password" formControlName="password">
        </p>
      </div>
      
      <div class="liensFormulaire">
        <div class="mdpOublie">
          <a routerLink="/mdp-oublie">Mot de passe oublié ?</a>
        </div>
        <div class="validerLogin">
          <input type="submit" value="Valider">
        </div>  
      </div>
      <div class="inscription">
        <p>Pas de compte ? <a routerLink="/inscription">Inscrivez-vous</a></p>
      </div>
    </form>
  </div>
</div>  