<div class="ensembleConnexion">
  <div class="banderole">
  </div>
  
  
  <div class="login">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">
      <div class="titreFormulaire">
        <h2 class="login-header">Connexion</h2>
      </div>
      
      <div class="partieEmail">
        <h3>Email</h3>  
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }">
          <input type="email" formControlName="email">
        </p>
    
        <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
          <div *ngIf="formControls['email'].errors['required']"><font color="red">L'email est requis</font></div>
        </div>
      </div>  
  
      <div class="partieMdp">
        <h3>Mot de passe</h3> 
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
          <input type="password" formControlName="password">
        </p>
        <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
          <div *ngIf="formControls['password'].errors['required']"><font color="red">Mot de passe requis</font></div>
        </div>
      </div>  

      <div *ngIf="isSubmitted && !isVerified" class="help-block">
        <div><font color="red">Utilisateur inexistant</font></div>
      </div>
      
      <div class="liensFormulaire">
        <div>
          <a>Mot de passe oublié ?</a>
        </div>
        <div>
          <input type="submit" value="Valider">
        </div>  
      </div>
    </form>
  </div>
</div>  