<div class="bandeau">
    <h1>Accueil</h1>
</div>
<div class="contenuAccueil">
    <div class="description">
        <p>
            Bienvenue sur Ressources relationnelles.<br> 
            Un site de l'état ayant pour objectif de partager des ressources entre citoyens français.<br>
            Consultez la F.A.Q pour plus d'infos.
        </p>    
    </div>
    <div class="image">
        <img src="../../assets/images/discussion.jpeg" >
    </div>
</div>

<div class="bandeau">
    <h1>Les ressources du moment</h1>
</div>

<app-last-resources-list></app-last-resources-list>

<div class="boutonRessources">
    <a routerLink="ressources">Voir toutes les ressources</a>
</div>
