<div class="bandeau">
    <h1>Accueil</h1>
</div>
<div class="contenuAccueil">
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elit tortor. 
            Nulla luctus, nulla id ultricies auctor, mauris magna faucibus ante, eget eleifend 
            felis ante vel turpis.
        </p>    
    </div>
    <div class="image">
        <img src="../../assets/images/discussion.jpeg" >
    </div>
</div>

<div class="bandeau">
    <h1>Les ressources du moment</h1>
</div>

<app-last-resources-list></app-last-resources-list>

<div class="boutonRessources">
    <a routerLink="ressources">Voir toutes les ressources</a>
</div>
